<p>
  {{log controller}}
  <h2>Add New Item</h2>

  {{upload-image}}

  <div class='loading_image'>
    <img src='image-preload.gif' ></img>
    <span class='progress'></div>
  </div>

  <div>
    <ul class='file_preview'>
    </ul>
  </div>

  <div class='sceneUpBtn'></div>

  <button {{ action 'addDetails'}} disabled class='add_item_link'>Next</button>
</p>
