<p>
  {{log controller}}
  <h2>Add New Item</h2>

  <label>Donor description</label>
  {{input type="text" value=donorDescription name="donorDescription" }}
  {{input type="hidden" value=offerId name="offerId" }}
  <br>
  <button {{action "createItem"}}>Next</button>
</p>
