<section class="main-section">

  <div class="row">
    <div class="small-12 columns with-btm">

      <h2 class="text-center photo-title">{{t "items.new.add_photos"}}</h2>

      {{upload-images item=this next="next" back="back" updateItem="updateItem"}}

    </div>
  </div>
</section>
