.confirm-van{
  .delivery-details {
    font-size: 1rem;
    color: white;
    font-weight: 600;
  }
  .charges-details {
    font-size: 0.8rem;
    .row {
      margin: -0.5rem; }
    .heading {
      color: white; }
  }
  .user-details {
    font-size: 0.8rem;
    .confirm {
      margin-bottom: 1rem; }
    .input-label > span {
      height: 2.5rem;
      vertical-align: middle;
      display: table-cell;
    }
  }
  .input_with_prefix {
    position: relative;
    .mobile-prefix {
      position: absolute;
      width: 3.2rem;
      color: rgba(0, 0, 0, 0.75);
      text-align: center;
      font-size: 1.125rem;
      margin: 0.4rem 0 0 0.4rem;
      height: 1.7rem;
      padding-top: 0.03rem; }
    #mobile {
      padding-left: 3.5rem; }
  }
  input.error {
    border-color: #f34d4f !important;
    background: #fddbdc !important;
    margin-bottom: 1rem;
  }
}
