.book-timeslot {
  ul {
    list-style-type: none;
    list-style-position: outside;
    li {
      margin: 1% 0 1%;
      display: block;
      border-bottom: 1px solid #1c3b65;
      padding: 2% 0 2%; }
  }
  input[type="radio"] {
    display: inline-block !important;
    margin-right: 4%;
    vertical-align: top;
    margin-top: 2% }
  label, span {
    display: inline-block;
    font-size: 0.8rem;
    .schdule-date {
      font-weight: bolder;
      font-size: 0.9rem;
      color: white; }
    }
  input[type="radio"]:checked + label {
    border: none;
    background: inherit; }
}

.right-small {
  border: none;
  a {
    float: right;
    font-size:14px; }
}

.unread_message_count {
  border: none;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  height: 45px;
  line-height: 45px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 80px;
  z-index: 1000;
}
/**************Styles to truncate the text using and show ellipses**********/
.vcenter{
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}
.ellipsis-container {
  position: relative;
}
.ellipsis {
  background: inherit;
  display: inline;
}

.ellipsis:before,
.ellipsis:after {
  background: inherit;
  position: absolute;
}

.ellipsis:before {
  content: '\2026';
  bottom: 0;
  right: 0;
}

.ellipsis:after {
  content: '';
  height: 100%;
  width: 100%;
}
.one-line {
  line-height: 1.5;
  max-height: 1.0rem;
  max-height: 1.4rem;
  overflow: hidden;
}
.two-line {
  max-height: 2.9rem;
}
.three-line {
  max-height: 4.5rem;
}
/***********************************************************/
.tabs {
margin-bottom: 0 !important;
margin-left: 0;
}
.tabs:before, .tabs:after {
  content: " ";
  display: table;
}
.tabs:after {
  clear: both;
}
.tabs dd{
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
  }
}
.tabs dd, .tabs .tab-title {
  position: relative;
  margin-bottom: 0 !important;
  list-style: none;
  float: left;
  }
.tabs dd > a, .tabs .tab-title > a {
  display: block;
  background-color: #002352;
  color: #222222;
  padding: 1rem 1rem;
  }
.tabs dd > a:hover, .tabs .tab-title > a:hover {
  background-color: #002352;
  color: #222222;
}
.tabs dd.active a, .tabs .tab-title.active a {
  background-color: #002352;
  color: #222222;
}
.tabs-content {
  background-color: #FAFAFA;
  color: #000000;
  padding: 1rem;
  .tabs-content > .content {
    padding: 0.2125rem 0;
  }
}

.inner-wrap {
  height: 100vh;
}

.item-details {
  .fav-item-image {
    text-align: center;
  }
  span {
    font-size: 0.80rem !important;
    color: #a3aab6;
  }
  textarea {
    font-size: 0.90rem !important;
    color: #a3aab6;
  }
}

input[type="radio"] + label {
  font-size: 0.80rem !important;
  vertical-align: middle;
}

.radio a.active {
  background: #f34d4f;
  border: 1px solid #f34d4f; }

.unread_message {
  height: 30px;
  width: 30px;
  background: #999999;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  float: right;
  margin-right: 4%;
  margin-top: -5.5%;
}

.unread_message a {
  background: none !important;
}

.message_count {
  font-size: 20px;
  font-weight: bolder;
  color: black;
  margin-left: 35%;
}

.loading_image {
  margin: 1% 0 1% -0.5%;
  display: none;
  background: none;
  color: white;
}

.progress {
  background: none;
  border: none;
}

.current_image {
  margin-right: 1%;
}

.loader_image {
  margin-bottom: -1%;
  display: none;
}

.item_name {
  display: block;
  font-weight: bold;
  margin-bottom: -3%;
  text-decoration: none;
}

textarea {
  resize: none;
  display: inline;
}

.fav_image {
  vertical-align: top;
}

.edit-image-link {
  vertical-align: top;
  display: block;
}

.edit_image_block {
  display: inline-block;
  vertical-align: top;
}

.fav_star img {
  display: inline-block;
  width: 1.5%;
  margin: 0% 0 3.5% -2%;
}

.image_list li {
  display: inline;
}

.image-buttons {
  display: inline;
  position: absolute;
  margin-top: 55%;
  margin-left: 12%;
  bottom: 0;
}


.file-input {
  margin-top: 2%;
  .file-button {
    position: relative;
    overflow: hidden;
    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      filter: alpha(opacity=0);
      opacity: 0;
      display: block;
      height: 90%
    }
  }
}

.right-small {
  margin-right: 2%;
  width: 5rem;
}

.row .top-bottom-margin {
  margin-top: 2%;
  margin-bottom: 2%;
}

.review_block .ember-view, .review_message {
  display: inline;
}

.select2-container{
  width: 100% !important;
  .select2-chosen{
    color: #000000;
  }
  .select2-choice{
    padding: 0.5rem;
    border: 2px solid #fff;
    height: 2.5625rem;
    background-color: #FAFAFA;
    -webkit-appearance: none !important;
    -webkit-border-radius: 0px;
    background-color: #FAFAFA !important;
    background-position: 100% center;
    background-repeat: no-repeat;
    border: 1px solid #FAFAFA;
    font-size: 1.125rem;
    color: rgba(0, 0, 0, 0.75);
    line-height: normal;
    border-radius: 0;
    .select2-arrow{
      border: none;
      background: #FAFAFA;
    }
  }
  .select2-input{
    width: 100%;
    border: solid 2px red;
  }
  .select2-drop-mask{
    width: 100%;
    border: solid 2px red;
  }
}

/*
.district-selection ul{
  padding: 0em;
  width: 33%;
}

.territory_menu {
  width:130px;
  height:50px;
  background-color:#ccc;
  list-style:none;
  marging-right:10px;
  display:table-cell;
  border: solid 1px white;
  vertical-align:middle;
  text-align:center;
  cursor: pointer;
}

.delivery-image{
  width: 60px;
  height: 60px;
  margin-top: 10px;
}

.plan_delivery table {
  width: 400px;
}

.selectAddress {
  width: 140px;
  margin-right: 3px;
}
ul.radio-ul{
  list-style: none;
}
ul.radio-ul li p{
   padding-left: 2%;
}
.center{
  vertical-align: middle;
  text-align: center;
}

.inbox_offers a {
  color: black;
}

.message_box {
  background-color: #DDDDDD;
  color: black;
  width: 300px;
  border-radius: 10px;
  padding: 13px;
  margin-bottom: 10px;
}

.message_details {
  font-size: 13px;
}

.item_message {
  float: right;
  margin-top: -5%;
}

td.message_block a {
  text-decoration: none;
  color: black;
}

.unread_message_box {
  position: fixed;
  bottom: 0%;
  right: 0%;
  border: solid 1px;
  width: 25%;
  padding: 1%;
  background-color: #EEEEEE;
  z-index: 100;
  margin-bottom: 1%;
}
*/
