.right-small {
  border: none;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  height: 45px;
  line-height: 45px;
  margin-right: 23.4801139831543px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 80px;
  z-index: 1000;
}

.inner-wrap {
  height: 100vh;
}

.item-details {
  .fav-item-image {
    text-align: center;
  }
  span {
    font-size: 0.80rem !important;
    color: #a3aab6;
  }
  textarea {
    font-size: 0.90rem !important;
    color: #a3aab6;
  }
}

input[type="radio"] + label {
  font-size: 0.80rem !important;
  vertical-align: middle;
}

.radio a.active {
  background: #f34d4f;
  border: 1px solid #f34d4f; }

.unread_message {
  height: 30px;
  width: 30px;
  background: #999999;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  float: right;
  margin-right: 4%;
  margin-top: -5.5%;
}

.unread_message a {
  background: none !important;
}

.message_count {
  font-size: 20px;
  font-weight: bolder;
  color: black;
  margin-left: 35%;
}

.loading_image {
  margin: 1% 0 1% -0.5%;
  display: none;
  background: none;
  color: white;
}

.progress {
  background: none;
  border: none;
}

.current_image {
  margin-right: 1%;
}

.loader_image {
  margin-bottom: -1%;
  display: none;
}

.item_name {
  display: block;
  font-weight: bold;
  margin-bottom: -3%;
  text-decoration: none;
}

textarea {
  resize: none;
  display: inline;
}

.fav_image {
  vertical-align: top;
}

.edit-image-link {
  vertical-align: top;
  display: block;
}

.edit_image_block {
  display: inline-block;
  vertical-align: top;
}

.fav_star img {
  display: inline-block;
  width: 1.5%;
  margin: 0% 0 3.5% -2%;
}

.image_list li {
  display: inline;
}

.image-buttons {
  display: inline;
  position: absolute;
  margin-top: 55%;
  margin-left: 12%;
  bottom: 0;
}


.file-input {
  margin-top: 2%;
  .file-button {
    position: relative;
    overflow: hidden;
    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      filter: alpha(opacity=0);
      opacity: 0;
      display: block;
      height: 90%
    }
  }
}

.right-small {
  margin-right: 2%;
  width: 5rem;
}

.row .top-bottom-margin {
  margin-top: 2%;
  margin-bottom: 2%;
}

.review_block .ember-view, .review_message {
  display: inline;
}

.select2-container{
  width: 100% !important;
  .select2-chosen{
    color: #000000;
  }
  .select2-choice{
    padding: 0.5rem;
    border: 2px solid #fff;
    height: 2.5625rem;
    background-color: #FAFAFA;
    -webkit-appearance: none !important;
    -webkit-border-radius: 0px;
    background-color: #FAFAFA !important;
    background-position: 100% center;
    background-repeat: no-repeat;
    border: 1px solid #FAFAFA;
    font-size: 1.125rem;
    color: rgba(0, 0, 0, 0.75);
    line-height: normal;
    border-radius: 0;
    .select2-arrow{
      border: none;
      background: #FAFAFA;
    }
  }
  .select2-input{
    width: 100%;
    border: solid 2px red;
  }
  .select2-drop-mask{
    width: 100%;
    border: solid 2px red;
  }
}

/*
.district-selection ul{
  padding: 0em;
  width: 33%;
}

.territory_menu {
  width:130px;
  height:50px;
  background-color:#ccc;
  list-style:none;
  marging-right:10px;
  display:table-cell;
  border: solid 1px white;
  vertical-align:middle;
  text-align:center;
  cursor: pointer;
}

.delivery-image{
  width: 60px;
  height: 60px;
  margin-top: 10px;
}

.plan_delivery table {
  width: 400px;
}

.selectAddress {
  width: 140px;
  margin-right: 3px;
}
ul.radio-ul{
  list-style: none;
}
ul.radio-ul li p{
   padding-left: 2%;
}
.center{
  vertical-align: middle;
  text-align: center;
}

.inbox_offers a {
  color: black;
}

.message_box {
  background-color: #DDDDDD;
  color: black;
  width: 300px;
  border-radius: 10px;
  padding: 13px;
  margin-bottom: 10px;
}

.message_details {
  font-size: 13px;
}

.item_message {
  float: right;
  margin-top: -5%;
}

td.message_block a {
  text-decoration: none;
  color: black;
}

.unread_message_box {
  position: fixed;
  bottom: 0%;
  right: 0%;
  border: solid 1px;
  width: 25%;
  padding: 1%;
  background-color: #EEEEEE;
  z-index: 100;
  margin-bottom: 1%;
}
*/
