.reject-offer {
  ul {
    list-style-type: none;
    list-style-position: outside;
    li {
      display: table-row;

      input[type="radio"] {
        display: inline-block;
        margin: 0.7rem 0.5rem;
      }

      input[type="radio"] + label {
        display: table-cell;
        color: black !important;
        width: 78%;
        @media #{$small-only} {
          font-size: 0.8rem;
        }
        input {
          width: 100%;
        }
      }
      input[type="radio"]:checked + label {
        border: none;
        background: inherit;
      }
    }
  }
  .error {
    border-color: $coral-red !important;
    background: $light-pitch !important;
    margin-bottom: 1.5rem; }
}
