html, body {
  margin: 20px;
}

.loading_image {
  margin: 1% 0 1% -0.5%;
  display: none;
}

.current_image {
  margin-right: 1%;
}

.loader_image {
  margin-bottom: -1%;
  display: none;
}

.invalid_input {
  background-color: #f8e0e0;
  border: 1px solid #ff655a;
  box-shadow: 0 0 1px 1px #f78181;
}

#mobile_error{
  color: red;
  display: block;
}

.auth_error {
  color: red;
  display: none;
  margin-bottom: 1%;
}

.item_name {
  display: block;
  font-weight: bold;
  margin-bottom: -3%;
}

.item_name a {
  text-decoration: none;
}

textarea {
  resize: none;
  display: inline;
}

.fav_image {
  vertical-align: top;
}

.edit-image-link {
  vertical-align: top;
  display: block;
}

.edit_image_block {
  display: inline-block;
  vertical-align: top;
}

.fav_star img {
  display: inline-block;
  width: 1.5%;
  margin: 0% 0 3.5% -2%;
}

.image_list li {
  display: inline;
}

.district-selection ul{
  padding: 0em;
}

.territory_menu {
  width:130px;
  height:50px;
  background-color:#ccc;
  list-style:none;
  marging-right:10px;
  display:table-cell;
  border: solid 1px white;
  vertical-align:middle;
  text-align:center;
  cursor: pointer;
}
.input{
  height: 2.5em;
  margin: 1em 0.5em;
}
.input_size_sm{
  width: 14em;
}
.input_size_lg{
  width: 26em;
}

.delivery-image{
  width: 60px;
  height: 60px;
  margin-top: 10px;
}

.plan_delivery table {
  width: 400px;
}

/* Donation Details Page */
/*--Start--*/

.donation_details_block {
  width: 350px;
}

.confirmed_block {
  margin: 20px 0 20px;
}

table.donation_details {
  border-collapse: collapse;
  margin-top: 10px;
  width: 350px;
}

table.donation_details tr td {
  padding: 5px;
  border-bottom: 1px solid #999999;
}

table.donation_details tr td:last-child {
  text-align: right;
}

.confirmed_title, .confirmed_link {
  display: inline;
}

.confirmed_link {
  float: right;
}

/*--End--*/

/*contact_details*/

.contact_details {
  width: 350px;
}

.contact_details label {
  width: 20%;
  display: inline-block;
}

.contact_details input {
  width: 60%;
}

#mobile {
  width: 50%;
}

.selectAddress {
  width: 140px;
  margin-right: 3px;
}
ul.radio-ul{
  list-style: none;
}
ul.radio-ul li p{
   padding-left: 2%;
}
.center{
  vertical-align: middle;
  text-align: center;
}
/*--End--*/

/*---Dfault Profile Pic */
#default_profile_image {
  height:80px;
  width:80px;
}

#background {
  height:50px;
  width:50px;
  background:#E6005C;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  margin-left:25%;
  margin-top:25%;
}

#background #name {
  padding-top: 24%;
  padding-left: 32%;
  font-weight: 900;
  font-size: 23px;
}
/*---End----*/

.inbox_offers a {
  color: black;
}

.message_box {
  background-color: #DDDDDD;
  color: black;
  width: 300px;
  border-radius: 10px;
  padding: 13px;
  margin-bottom: 10px;
}

.message_details {
  font-size: 13px;
}
