html, body {
  margin: 20px;
}

.loading_image {
  margin: 1% 0 1% -0.5%;
  display: none;
}

.current_image {
  margin-right: 1%;
}

.loader_image {
  margin-bottom: -1%;
  display: none;
}

.invalid_input {
  background-color: #f8e0e0;
  border: 1px solid #ff655a;
  box-shadow: 0 0 1px 1px #f78181;
}

#mobile_error{
  color: red;
  display: block;
}

.auth_error {
  color: red;
  display: none;
  margin-bottom: 1%;
}

.item_name {
  display: block;
  font-weight: bold;
  margin-bottom: -3%;
}

.item_name a {
  text-decoration: none;
}

textarea {
  resize: none;
  display: inline;
}

.fav_image {
  vertical-align: top;
}

.edit-image-link {
  vertical-align: top;
  display: block;
}

.edit_image_block {
  display: inline-block;
  vertical-align: top;
}

.fav_star img {
  display: inline-block;
  width: 1.5%;
  margin: 0% 0 3.5% -2%;
}

.image_list li {
  display: inline;
}

.district-selection ul{
  padding: 0em;
}

.territory_menu {
  width:130px;
  height:50px;
  background-color:#ccc;
  list-style:none;
  marging-right:10px;
  display:table-cell;
  border: solid 1px white;
  vertical-align:middle;
  text-align:center;
  cursor: pointer;
}
.input{
  height: 2.5em;
  margin: 1em 0.5em;
}
.input_size_sm{
  width: 14em;
}
.input_size_lg{
  width: 26em;
}
