.review_item {
  .message-textbar{
    position: relative;
  }
  .row-grey {
    height: 100%;
    background: $light-grey;
    .tabs {
      background: $dark-blue;
    }
  }

  i.unread {
    vertical-align: top;
    color: $alert-color;
    font-size: 0.7rem;

    @media #{$small-only} {
      font-size: 0.5rem;
    }
  }
}
