.drop_off {
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  .date_selector {
    padding-left: 0 !important;
  }

  .time_selector {
    padding-right: 0 !important;
  }

  .description {
    text-align: justify;
    a {
      text-decoration: underline;
      color: inherit !important;
    }
  }

  .fa-clock-o:before {
    position: absolute;
  }

  .fa-clock-o {
    margin-right: 2rem;
    font-size: 2rem;
    float: right;
    display: inline;
  }

  select {
    font-size: 1rem;
    position: absolute; }
}
