<div name="detaikls">
  {{ item-details-ui-control itemval=this value=itemTypeName name=itemTypeId }}
</div>
{{!-- <div class="row">
  <span class="small-2 columns text-right" >
    <i class="fa fa-plus-circle fa-2x icon icon-center"></i>
  </span>
  <span class="small-8 columns link-blue">
    {{t "review_item.add_component"}}
  </span>
  <span class="small-2 columns">&nbsp;</span>
</div> --}}
