<h3 class="center">Select Time</h3>
<ul class="radio-ul">
  <hr>
    <p>Pick preferred date/time. First available times listed below.</p>
  <hr>
  {{#each}}
    <li>
      {{view 'radio-button' name="timeslot" selection=this.controller.isSelected value=id}}
      {{scheduledAt}}
      <p>
        {{slotName}}
      </p>
    </li>
    <hr>
  {{/each}}
  </ul>
<button {{action 'assignSchedule'}} class="input input_size_sm">Book Time</button>
<button class="input input_size_sm">Show More</button>
