<h3>Donation Details</h3>

<div class='donation_details_block'>
  {{#link-to ''}}Modify{{/link-to}}
  <button>Cancel Donation</button>

  <div class='confirmed_block'>
    <h4 class='confirmed_title'>Confirmed Items(11)</h4>
    <span class='confirmed_link'>{{#link-to ''}}View all{{/link-to}}</span>
  </div>


  <table class='donation_details'>
    <tr>
      <td>Charitable sale approved?</td>
      <td>Yes</td>
    </tr>

    <tr>
      <td>Transportation</td>
      <td>Collection</td>
    </tr>

    <tr>
      <td>Date</td>
      <td>Monday 24th November</td>
    </tr>

    <tr>
      <td>Time</td>
      <td>11am - 1pm</td>
    </tr>

    <tr>
      <td>Contact Name</td>
      <td>Mary Smith</td>
    </tr>

    <tr>
      <td>Contact Phone</td>
      <td>962-47622</td>
    </tr>

    <tr>
      <td>Address</td>
      <td></td>
    </tr>
  </table>
</div>
