<nav class="tab-bar">
  <section class="left-small">
    {{#link-to 'offer.plan_delivery' classNames="back"}}{{t "back"}}{{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">Select Schedule</h1>
  </section>
</nav>

{{#validatable-form class="form-horizontal" action="bookSchedule" on="submit"}}
  <section class="main-section drop_off">
    <div class="row">
      <div class="small-12 columns">

        <div class="row">
          <h3>When can we expect your delivery?</h3>
          <div class='description'>{{t "gogovan.book_van.crossroads_time"}}</div>
        </div>

        <div class="row">
          <div class="small-7 columns date_selector">
            {{#if available_dates}}
              {{view "month-calender"
                name='selectedDate'
                id='selectedDate'
                value=''
                selectionBinding='selectedDate'
                required='true'
                available=available_dates
                pattern="[a-zA-Z]{3}\s?[a-zA-Z]{3}\s?[0-9]{1,2}"}}
            {{/if}}
          </div>

          <div class="small-5 columns time_selector">
            {{view "select"
              contentBinding='slots'
              optionLabelPath='content.name'
              optionValuePath='content.id'
              selectionBinding='selectedId'
              prompt='Time'
              required='true'}}
            <i class="fa fa-clock-o"></i>
          </div>
        </div>

        <div class="row">
          <div class='description'>
            <a href="https://maps.google.com/?saddr=Current+Location&daddr=Crossroads+Foundation,+2+Castle+Peak+Road+-+So+Kwun+Wat,+Hong+Kong" target="_blank">How to find crossroads</a> (will open in new tab)
          </div>

          <div class='description'>
            We will also message you a link to our map location so you have it handy when you need it!
          </div>

          <div class='description'>
            Please arrive during our operating hours to ensure we can successfully receive your kind donation.
          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="btm">
    <div class="row">
      <div class="small-10 small-offset-1 columns">
        <button type="submit" class='button expand drop_off'>Book Schedule</button>
      </div>
    </div>
  </div>
{{/validatable-form}}
