<nav class="tab-bar">
  <section class="left-small">
    {{#if hasMultipleOffers}}
      {{#link-to 'offers' classNames="back"}}{{t "application.home"}}{{/link-to}}
    {{/if}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">{{t "offer.index.item_count" itemCountBinding=itemCount}}</h1>
  </section>
  <section id="camera_delete_bar" class="right-small">
    <a id="camera_icon" title="Camera" class="fontawe-icons">
      <i class="fa fa-camera"></i>
    </a>
    <a title="Delete" class="fontawe-icons">
      <i class="fa fa-trash"></i>
    </a>
  </section>
</nav>
<section class="main-section">
  <div class="row">
    <div class="small-12 columns">
      <p><span class="icon-no-items"></span></p>
      <p class="no-items">You don't have any items in this offer yet. Please add your first item!</p>

      <div class="row">
        <div class="small-10 small-offset-1 columns">
          <a href="#" {{action "addItem"}} class="button expand"><span class="icon-add"></span>{{t "offer.index.add_item"}}</a>
        </div>
      </div>

    </div>
  </div>
</section>
