<h3>Plan Delivery</h3>
<div class='plan_delivery'>

  <hr width="400px" align="left">

  <table>
    <td>
      <strong>Fastest</strong>
      <p>
        Book a van & drivar at your <br/>
        preferred time with 1 click! <br/>
        Recommended!
      </p>
      <button>Go to Booking</button>
    </td>
    <td align='right'>
      Cost $390-$600<br/>
      Get 5% off with our<br/>
      partner<br/>
      <img src="assets/images/gogo-van.png" class='delivery-image'/>
    </td>
  </table>

  <hr width="400px" align="left">

  <table>
    <td>
      <strong>Alternative</strong>
      <p>
        Wait 12-14 days until our<br/>
        volunteers can collect. <br/>
      </p>
      <button>Go to Booking</button>
    </td>
    <td align='right'>
      Cost $150<br/>
      {{#link-to ''}}About this charge{{/link-to}}<br/>
      <img src="assets/images/alternate-delivery.jpeg" class='delivery-image'/>
    </td>
  </table>

  <hr width="400px" align="left">

  <table>
    <td>
      <strong>Deliver to Us</strong>
      <p>
        Drop off at Tuen Mun during <br/>
        our hours of operation. <br/>
      </p>
      <button>Details & Booking</button>
    </td>
    <td align='right'>
      Free <br/>
      <img src="assets/images/logo_foundation.png" class='delivery-image'/>
    </td>
  </table>

</div>
