<h3>Sale of goods</h3>

<pre>

Occasionally, the best way
for a donated item to help the poor
is for a charity to sell it. Is sale
of item(s) okay?

</pre>

<button {{action 'submitOffer' true }}>Yes</button>
<button {{action 'submitOffer' false }}>No</button>
