<div>Step 3: Choose Delivery</div>

<div>Rush</div>
<div>Pay for fast collection (recommended!)</div>
<div>Wait</div>
<div>until our hard-working volunteers can fit you in the schedule</div>
<div>Drop Off</div>
<div>Arrange a time to deliver the items to us</div>