<h1>{{t "tour.step5.title"}}</h1>

<p><img src="/assets/images/double-your-deed.jpg" alt="" width="290" height="150"></p>

<p>{{t "tour.step5.financial"}}</p>

<div class="row register-button">
  <div class="small-10 small-offset-1 columns">
    {{#link-to 'register' classNames="button expand"}}{{t "tour.register"}}{{/link-to}}
  </div>
</div>

