<div>Step 5: Double Your Good Deed</div>

<div>You are welcome to contribute financially to the costs of helping people receive the items they need. Like Mr Cho who received a washing machine after fire destroyed his home.</div>
