<ul>
 {{t messages.unread unreadCountBinding=unread.length}}
 <div>
    {{t messages.message_text messageTextBinding=unreadFirst.body}}
    <button {{action 'sendMessage' true }} class="input input_size_sm">{{t messages.reply}}</button>
 </div>
</ul>
