 <div>
    {{t messages.message_text messageTextBinding=unreadFirst.body}}
    <button {{action 'reply' unreadFirst.id unreadFirst.offerId}} class="input input_size_sm">{{t messages.reply}}</button>
 </div>
