<p>
  {{#if pendingOffer}}
    Add items to {{#link-to 'offer.index' pendingOffer}}offer{{/link-to}}
  {{else}}
    {{#link-to 'offers.new'}}Make a New Donation{{/link-to}}
  {{/if}}
</p>

<h3>My Offers</h3>

<ul>
  {{#each}}

    <li class="contact">
      {{#with this._data }}
        Offer_id: {{ id }}
        <br/>
        Name: {{ collectionContactName }}
        <br/>
        Total Items: {{ items.length }}
        <br/>
        {{#link-to 'offer.index' this}}See More..{{/link-to}}
      {{/with}}
    </li><br/>
  {{/each}}
</ul>
