<h3>My Offers</h3>

<ul>
  {{#each}}

    <li class="contact">
      {{#with this._data }}
        Offer_id: {{ id }}
        <br/>
        Name: {{ collectionContactName }}
        <br/>
        {{#link-to 'offer.index' this}}See More..{{/link-to}}
      {{/with}}
    </li><br/>
  {{/each}}
</ul>
