<p>Haven't received SMS code?<br/>
Please wait 5 minutes...</p>
{{#if view.isLogin}}
  <button id='resend-pin'>Resend</button>
{{else}}
  <button {{action "resendPin"}} id='resend-pin'>Resend</button>
{{/if}}
