<div>Crossroads Foundation Presents</div>

<div>GoodCity.HK</div>

<div>Donate your quality goods to people in need</div>

<div>{{#link-to 'tour' 1}}How Does It Work?{{/link-to}}</div>
<div>{{#link-to 'offers'}}Skip intro{{/link-to}}</div>

{{ language-switcher currentLanguage=currentLanguage action="setLang"}}
