<b>ITEM DETAILS:</b>

<p>
  Description: {{donorDescription}} <br/>
  Condition: {{donorCondition}} <br/>
</p>

<b>IMAGES</b>

{{#each images}}
  <br/>
  <img {{bind-attr src="thumbImageUrl"}}>
{{/each}}
