<div>
  <div>{{t login.hk_only}}</div>
    <div id="mobile_error"></div>
      +852 {{input type="text" value=mobilePhone name="mobilePhone" id="mobile" maxlength="8" class="input input_size_lg"}}
    </div>
  <div>

  <button {{action "resendPin" }} id="getsmscode" class="input input_size_lg">{{t login.smscode}}</button>
</div>
