<p>
  Mobile phone # (Hong Kong only)<br>
  <div id="mobile_error"></div>
  +852 {{input type="text" value=mobilePhone name="mobilePhone" id="mobile"}}
</p>
<p>
  {{partial 'verification_pin'}}
</p>
<button {{action "authenticateUser"}} id='submit_pin'>Login</button>
{{partial 'resend'}}
