{{#if mostRecent}}
  <div class='notification_box'>
    <div>{{t "notifications.text" textBinding=mostRecent.text}}</div>
    <div><button {{action 'view'}}>{{t "notifications.view"}}</button></div>
  </div>
{{/if}}
