<div class='unread_count_header'>
  {{#if this.unreadMessagesCount}}
    {{#link-to 'offer.messages' this}}
      Unread Messages: {{unreadMessagesCount}}
    {{/link-to}}
  {{/if}}
</div>

{{outlet}}
