<h3>Review Item</h3>

<table>
  <td>
  {{cloudinary-image imageId=defaultImageId width=100 height=100 className='fav_image'}}<br/>
  </td>
  <td>
  {{donorDescription}}
  </td>
</table>

{{#link-to 'review_item.donor_messages'}}Donor{{/link-to}}
{{#link-to 'review_item.supervisor_messages'}}Supervisor{{/link-to}}


<br/><br/>
{{outlet}}
