<nav class="tab-bar">
  <section class="left-small">
    {{#if isSubmittedOffer}}
      {{#link-to 'inbox' classNames="back"}}{{t "back"}}{{/link-to}}
    {{else}}
      {{#link-to 'inbox.under_review' classNames="back"}}{{t "back"}}{{/link-to}}
    {{/if}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">Review Offer</h1>
  </section>
</nav>
<section class="main-section">
  <div class="row">
    <div class="small-12 columns">
      {{#link-to 'review_offer.items'}}Items{{/link-to}}
      {{#link-to 'review_offer.messages'}}Messages{{/link-to}}
      {{#link-to 'review_offer.supervisor_messages'}}Supervisor{{/link-to}}
      {{outlet}}
    </div>
  </div>
</section>
