<h3>Review Offer</h3>
{{#link-to 'review_offer.items'}}Items{{/link-to}}
{{#link-to 'review_offer.messages'}}Messages{{/link-to}}
{{#link-to 'review_offer.supervisor_messages'}}Supervisor{{/link-to}}
{{outlet}}
