{{ partial tourStep }}

{{#if lastStep }}
  <div>{{#link-to 'index'}}Start Now{{/link-to}}</div>
{{else}}
  <div>{{#link-to 'tour' nextStep}}Next{{/link-to}} | {{#link-to 'offers' }}Skip intro{{/link-to}}</div>
{{/if}}