<nav class="tab-bar">
  <section class="left-small">
    {{#link-to 'index' classNames="back"}}{{t "back"}}{{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">Learn How</h1>
  </section>

  <section id="camera_delete_bar" class="right-small">
    {{#link-to 'login'}}{{t "application.login"}}{{/link-to}}
  </section>
</nav>

<section class="main-section ui tour_page">
  <div class="row">
    <div class="small-12 columns intro">
      <div class="tour_slides">

        <ul class="list-intro">
          <li>
            <span><i class="fa fa-camera"></i></span>
            <div class='strong'>1. Photograph & describe</div>
            <div class='info'>quality items. {{#link-to ''class='info_link'}}What we receive.{{/link-to}}
          </li>
          <li>
            <span><i class="fa fa-comments-o"></i></span>
            <div class='strong'>2. Submit for live review</div>
            <div class='info'>We'll chat if we have questions</div>
          </li>
          <li>
            <span><i class="fa fa-truck"></i></span>
            <div class='strong'>3. Arrange transport</div>
            <div class='info'>for accepted items. {{#link-to ''class='info_link'}}Quick & easy{{/link-to}}.</div>
          </li>
          <li>
            <span><i class="fa fa-users"></i></span>
            <div class='strong'>4. People are helped</div>
            <div class='info'>{{#link-to ''class='info_link'}}How you're making a Good City.{{/link-to}}</div>
          </li>
        </ul>

        <div class="row register-button">
          <div class="small-10 small-offset-1 columns">
            {{#link-to 'register' classNames="button expand"}}
              Start Now
            {{/link-to}}
            {{#link-to ''class='info_link'}}Frequently Asked Questions{{/link-to}}
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
