{{#if offer.hasUnreadMessages}}
  <div class='unread_message'>
    {{#link-to 'offer.messages' offer}}
      <div class='unread_length'>{{offer.unreadMessagesCount}}</div>
    {{/link-to}}
  </div>
{{/if}}
