.offer_details {
  .offer-status {
    text-align: center;
    margin-bottom: 1.2rem;
    line-height: 2rem;
  }

  .is-submitted {
    background-color: #FC8229;
  }

  .is-under-review, .is-scheduled {
    background-color: #f34d4f;
  }

  .is-reviewed {
    background-color: #6EA94A;
    a {
      text-decoration: underline;
    }
  }

  .status-message {
    color: #FFF;
    font-size: 0.8rem;
  }
}
